<a class="waves-effect waves-light btn modal-trigger" [routerLink]="['/user/ingreso']"style="border:rgb(207, 207, 207) 1px solid">Volver</a>
<div class="container">
  <h1 style="text-align: center;">Lista categorias</h1>
<table class="table table-striped">
  <caption>Categorias</caption>
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let categoria of categorias">
      <th scope="row"> {{categoria.id}}</th>
      <td>{{categoria.nombre}}</td>
      <td> <a class="waves-effect waves-light btn modal-trigger btn-outline-info" (click)="abrirModalEditar(categoria.id)" >Editar</a></td>

    </tr>
    </tbody>
  </table>
</div>
