<nav class="shadow p-3 rounded navbar navbar-expand-lg navbar-light bg-custom" style="background-color: rgb(220, 243, 220);">
  <a class="navbar-brand"><img width="85" height="40" src="https://i.ibb.co/h25Y8xv/logo-Income-Outlook.png" alt="logoIncome"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/index']"><strong>Inicio</strong> <span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>
</nav>
