<h1>Editar Categorías #{{data.id}} </h1>
<br/>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()" >
    <mat-form-field class="field-full" appearance="outline">
      <mat-label>Nombre de categoria</mat-label>
      <input
      formControlName="categoria"
      matInput placeholder=""
      name="categoria">
      <mat-hint >Edite el nombre de la categoria</mat-hint>
    </mat-form-field>
        <button type="submit" class="btn btn-success"  color="primary">
          Aceptar
        </button>
  </form>
