<h1>Registro Categorías</h1>
<br/>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()" >
    <mat-form-field class="field-full" appearance="outline">
      <mat-label>Nombre de categoria</mat-label>
      <input
      formControlName="categoria"
      matInput placeholder="Ej. Arriendos"
      name="categoria">
      <mat-hint >Escriba la categoria que desea agregar</mat-hint>
    </mat-form-field>
        <button type="submit" class="mat-focus-indicator mat-fab mat-button-base mat-primary"  color="primary">
          <mat-icon style="margin-top: 25%;" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">plus_one</mat-icon>
        </button>
  </form>
