<h1>Registro</h1>
  <form (ngSubmit)="registrarUser( f )"
  #f= "ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
            [(ngModel)]="usuario.email"
            name ="email"
            placeholder="ejemplo@ejemplo.com">
            <mat-hint></mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Por favor, ingresar el email
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              El email es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field class="example-full-width">
            <mat-label>Ingrese la contraseña</mat-label>
            <input matInput [type]="hide ? 'text' : 'password'" 
            [(ngModel)]="usuario.password"
            name ="password"
            [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
            <mat-hint></mat-hint>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="!passwordFormControl.hasError('required') ">
                Por favor ingresa la contraseña
              </mat-error>
            <mat-error *ngIf="!passwordFormControl.hasError('mingLength') "> 
                La contraseña debe tener más de 8 caracteres
            </mat-error>
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                La contraseña es <strong>obligatoria</strong>
              </mat-error>
          </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput  
          [(ngModel)]="usuario.nombre"
            name ="nombre"
          [formControl]="nombreFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="nombreFormControl.hasError('required')">
            El nombre es <strong>obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="nombreFormControl.hasError('pattern')">
            Ingresar solo letras
          </mat-error>
        </mat-form-field>
        
       
      </div>
      <div class="form-group col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Apellido</mat-label>
          <input matInput  
          [(ngModel)]="usuario.apellido"
            name ="apellido"
          [formControl]="apellidoFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="apellidoFormControl.hasError('required')">
            El apellido es <strong>obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="apellidoFormControl.hasError('pattern')">
            Ingresar solo letras
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Celular</mat-label>
          <input type="number" matInput  
          [(ngModel)]="usuario.telefono"
            name ="telefono"
          [formControl]="telefonoFormControl" [errorStateMatcher]="matcher">
          <mat-error *ngIf="telefonoFormControl.hasError('maxLength') && telefonoFormControl.hasError('minLength')">
            El celular debe contener 10 digitos
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <button type="submit" mat-flat-button color="black"[disabled]="onHide()" >Registrar</button>
  </form>